{{#partial "contenido"}}

<head>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
</head>
	
<body>
	<script src = "/js/validateChkBox.js" type="text/javascript"></script>
	
	<form action="/indicators" method="get">
	
		<title>Indicadores</title>
		<p class="title"><b>Indicadores</b></p>
		
		<table class="table table-stripped">
			<tr>
				<th class="ppal">Nombre</th>
				<th class="ppal">Fórmula</th>
				<th class="ppal"></th>
				<th class="ppal"></th>
				<th class="ppal"></th>
			</tr>
			
			{{#each}}
				<tr>
					<td>{{name}}</td>
					<td>{{formula}}</td>	
					<td><a href="indicators/{{id}}/edit">Editar</a></td>
					<td><a class="clickable" onclick="erase({{id}})">Borrar</a></td>
					<td><input type="checkbox" name="selected" value={{name}} ></td>	
				</tr>
			{{/each}}
		</table>
		
	
		
		
	 	<p style="text-align: center;">
	 		
	 		<button class="submit" type="submit" formaction="indicators/new" form="form1">Nuevo Indicador</button><br>
	 		
			<input class="submit" type="submit" value="Analizar Empresas según los indicadores seleccionados" id="checkBtn" formaction="/indicators/evaluate">
			
			<label class="submit">En el año:</label>
			
			<input type="number" name="quantity" min="1900" max="2018" required><br>
			
		</p>
		
	</form>	
	
	<form  id="form1">  		
	</form>
	
</body>
{{/partial}}

{{>layout.hbs}}