{{#partial "contenido"}}

	<title>Metodología: {{name}}</title>
	
	<form action="/methods" method="get">
	
	
	<p class="title"> Metodologia: {{name}} </p><br>

	<p class="title"> Criterios de Filtro: </p>
	<td><ul>
		{{#each filterCriteria}}
			<li>{{description}}</li>
		{{/each}}
	</ul></td>
	
		<p class="title"> Criterios de Orden: </p>
	<td><ol>
		{{#each orderCriteria}}
			<li>{{description}}</li>
		{{/each}}
		
	</ol></td>	
	
	<p class="title"> Criterios Mixtos: </p>
	<td><ul>
		{{#each mixedCriteria}}
			<li>{{description}}</li>
		{{/each}}
	</ul></td>
	<br>
	<input class="btn btn-warning" type="submit" style="float: left;" value="Volver" formaction="/methods">
	<input class="btn btn-warning" type="submit" style="float: right;" value="Evaluar Indicador contra todas las empresas" formaction="/methods/{{id}}/eval">
		</form>
{{/partial}}

{{>layout.hbs}}