{{#partial "contenido"}}
	
	<link rel="stylesheet" href="/css/tables.css">
	
	<title>Indicadores de {{name}}</title>
	
	<h1 class="inline"><b> Empresa: {{name}} </b></h1>
	
	<table class="table table-stripped">
		<tr>
			<th class="ppal">Periodo</th>
			<th class="ppal"><center>Cuentas</center></th>
		</tr>
		
		{{#each periods}}
			<tr>
				<td class="period">{{year}}</td>
				<td>
					<table class="table table-stripped">
						<tr>
							<th>Cuenta</th>
							<th>Valor</th>
						</tr>
						
						{{#each calculations}}
							<tr>
								<td>{{name}}</td>
								<td>{{value}}</td>
							</tr>
						{{/each}}
					</table>
					
				</td>
			</tr>
		{{/each}}
	</table>
	
{{/partial}}

{{>layout.hbs}}