{{#partial "contenido"}}
	
	<link rel="stylesheet" href="/css/tables.css">
	
	<title>Indicadores de {{name}}</title>
	
	<p class="title"> Empresa: {{name}} </p>
	<br>
	
	<table class="table table-dark">
		<tr>
			<th class="ppal">Periodo</th>
			<th class="ppal"><center>Cuentas</center></th>
		</tr>
		
		{{#each periods}}
			<tr>
				<td class="period"><center>{{year}}</center></td>
				<td>
					<table class="table inside-table" style="background-color:#A9A9A9;">
						<tr>
							<th class="ppal">Cuenta</th>
							<th class="ppal">Valor</th>
						</tr>
						
						{{#each calculations}}
							<tr class = "warning">
								<td>{{name}}</td>
								<td>{{value}}</td>
							</tr>
						{{/each}}
					</table>
					
				</td>
			</tr>
		{{/each}}
	</table>
	<form>
		<input class="btn btn-warning" type="submit" style="float: left;" value="Volver" formaction="/enterprises">
	</form>
{{/partial}}

{{>layout.hbs}}